/build/
.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
settings.json
.DS_store
/docs/.quarto/
/.quarto/
.venv/
/docs_old/
docs/reference/*
docs/_sidebar.yml
/.luarc.json
docs/_site/
