[tool.poetry]
name = "skimpy"
version = "0.0.5"
description = "skimpy"
authors = ["Arthur Turrell"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/aeturrell/skimpy"
repository = "https://github.com/aeturrell/skimpy"
documentation = "https://skimpy.readthedocs.io"
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]

[tool.poetry.urls]
Changelog = "https://github.com/aeturrell/skimpy/releases"

[tool.poetry.dependencies]
python = ">=3.7.1,<4.0.0"
click = "7.1.2"
rich = "^10.9.0"
pandas = "^1.3.2"
Pygments = "^2.10.0"
typeguard = "^2.12.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
coverage = {extras = ["toml"], version = "^6.2"}
safety = "^1.10.3"
mypy = "^0.910"
typeguard = "^2.12.1"
xdoctest = {extras = ["colors"], version = "^0.15.9"}
sphinx = "^4.2.0"
sphinx-autobuild = "^2021.3.14"
pre-commit = "^2.16.0"
flake8 = "^4.0.1"
black = "^21.11b1"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^21.4.3"
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.3"
pep8-naming = "^0.12.0"
darglint = "^1.8.1"
reorder-python-imports = "^2.6.0"
pre-commit-hooks = "^4.0.1"
sphinx-rtd-theme = "^1.0.0"
sphinx-click = "^3.0.2"
Pygments = "^2.9.0"
autopep8 = "^1.6.0"
nox = "^2021.10.1"
jupyter = "^1.0.0"
black-nb = "^0.6"

[tool.poetry.scripts]
skimpy = "skimpy.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["skimpy"]

[tool.coverage.report]
show_missing = true
fail_under = 99

[tool.mypy]
strict = false
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true
ignore_missing_imports = true
disallow_untyped_calls = false

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
