[tool.poetry]
name = "skimpy"
version = "0.0.8"
description = "skimpy"
authors = ["Arthur Turrell"]
license = "MIT"
readme = "README.md"
homepage = "https://aeturrell.github.io/skimpy/"
repository = "https://github.com/aeturrell/skimpy"
documentation = "https://aeturrell.github.io/skimpy/"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]

[tool.poetry.urls]
Changelog = "https://github.com/aeturrell/skimpy/releases"

[tool.poetry.dependencies]
python = ">=3.8,<4.0.0"
click = "^8.1.3"
rich = ">=10.9,<13.0"
pandas = "^1.3.2"
Pygments = "^2.10.0"
typeguard = "^2.12.1"
jupyter = "^1.0.0"
ipykernel = "^6.7.0"
numpy = "^1.22.2"

[tool.poetry.dev-dependencies]
pytest = "^7.1.1"
coverage = {extras = ["toml"], version = "^6.5"}
safety = "^2.3.5"
mypy = "^0.982"
typeguard = "^2.12.1"
xdoctest = {extras = ["colors"], version = "^1.0.0"}
pre-commit = "^2.16.0"
flake8 = "^5.0.4"
flake8-bandit = "^4.1.1"
flake8-bugbear = "^22.9.23"
flake8-docstrings = "^1.6.0"
flake8-rst-docstrings = "^0.2.3"
pep8-naming = "^0.13.2"
darglint = "^1.8.1"
reorder-python-imports = "^3.8.5"
pre-commit-hooks = "^4.0.1"
Pygments = "^2.9.0"
autopep8 = "^1.7.0"
nox = "^2022.11.21"
jupyter = "^1.0.0"
jupyterlab = "^3.5.1"
matplotlib = "^3.6.2"
nbstripout = "^0.6.1"
black = "^22.10.0"
jupyter-book = "^0.13.1"
furo = "^2022.9.29"
ghp-import = "^2.1.0"

[tool.poetry.scripts]
skimpy = "skimpy.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["skimpy"]

[tool.coverage.report]
show_missing = true
fail_under = 98

[tool.mypy]
strict = false
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true
ignore_missing_imports = true
disallow_untyped_calls = false

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
exclude = 'index.ipynb'
