[tool.poetry]
name = "skimpy"
version = "0.0.12"
description = "skimpy"
authors = ["Arthur Turrell"]
license = "MIT"
readme = "README.md"
homepage = "https://aeturrell.github.io/skimpy/"
repository = "https://github.com/aeturrell/skimpy"
documentation = "https://aeturrell.github.io/skimpy/"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]

[tool.poetry.urls]
Changelog = "https://github.com/aeturrell/skimpy/releases"

[tool.poetry.dependencies]
python = ">=3.9,<4.0.0"
click = "^8.1.6"
rich = ">=10.9,<14.0"
pandas = "^2.0.3"
Pygments = "^2.10.0"
ipykernel = "^6.7.0"
numpy = "^1.22.2"
typeguard = "4.1.5"
polars = { version = ">=0.19,<0.21", optional = true }
pyarrow = { version = ">=13,<15", optional = true }
quartodoc = "^0.7.2"

[tool.poetry.scripts]
skimpy = "skimpy.__main__:main"

[tool.poetry.group.dev.dependencies]
nox = "^2023.4.22"
pytest = "^7.4.0"
coverage = {extras = ["toml"], version = "^7.2"}
safety = ">=2.3.5,<4.0.0"
mypy = "^1.4"
xdoctest = {extras = ["colors"], version = "^1.1.1"}
pre-commit = "^3.3.1"
flake8 = "^5.0.4"
flake8-bandit = "^4.1.1"
flake8-bugbear = "^23.3.12"
flake8-docstrings = "^1.7.0"
flake8-rst-docstrings = "^0.3.0"
pep8-naming = "^0.13.3"
darglint = "^1.8.1"
reorder-python-imports = "^3.10.0"
pre-commit-hooks = "^4.4.0"
Pygments = "^2.9.0"
autopep8 = "^2.0.0"
matplotlib = "^3.7.1"
nbstripout = "^0.6.1"
black = ">=22.12,<24.0"
jupyter-book = "^0.15.1"
furo = ">=2022.9.29,<2024.0.0"
ghp-import = "^2.1.0"
toml = "^0.10.2"
typing-extensions = "^4.7.1"
polars = ">=0.19.2,<0.21.0"
pyarrow = ">=13,<15"
jupyter = "^1.0.0"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["skimpy"]

[tool.coverage.report]
show_missing = true
fail_under = 96

[tool.mypy]
strict = false
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true
ignore_missing_imports = true
disallow_untyped_calls = false

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
exclude = 'index.ipynb'
