/*-- scss:defaults --*/

// The Cosmo theme sets defaults for hover. Clear the defaults to allow
// our coloring system to handle this
$navbar-dark-hover-color: null;
$navbar-light-hover-color: null;

/*-- scss:rules --*/

.layout-example {
  background: $gray-500;
  color: $white;
  text-align: center;
  margin-bottom: 1em;
  font-family: $font-family-monospace;
  font-size: 0.875em;
  font-weight: 600;
  padding-top: 1em;
  border-radius: 3px;
}

.left {
  text-align: left;
  padding-left: 1em;
}

.right {
  text-align: right;
  padding-right: 1em;
}
